<Layouts.app flash={@flash}>
  <.header>
    Thank you for your answer. We are currently unable to issue credit to you.
  </.header>
  <.button navigate={~p"/survey/new"}>
    Fill New Application
  </.button>
</Layouts.app>
