<Layouts.app flash={@flash}>
  <.header>
    Thank you for choosing <strong>Cred<i>It</i></strong>!
    <:subtitle>We are done here, but you can start anew:</:subtitle>
  </.header>
  <.button variant="primary" navigate={~p"/survey/new"}>
    Fill New Application
  </.button>
</Layouts.app>
