<Layouts.app flash={@flash}>
  <.header>
    Welcome to <strong>Cred<i>It</i></strong>
    <:subtitle>You are few clicks away from a loan offer of a lifetime!</:subtitle>
  </.header>
  <.button variant="primary" navigate={~p"/survey/new"}>
    Fill Application
  </.button>
</Layouts.app>
